.modal{
    
    padding: 1rem;
    position: relative;
    border: 1px solid black;
    display: flex;
    height: auto;
    gap: 1rem;

    img{
        width: 50%;
        border-radius: 100%;
    }

    
    .info{
        
        width: 100%;
        
        display: flex;
       flex-direction: column;
        
    h2{
        
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }

    .breed{
        color:grey;
        font-style: italic;
    }


    
    .body-data{
        display: flex;
        gap: 0.5rem;
        width: 100%;
        justify-content: center;
        p{
            padding: 0.5rem 1rem;
            background-color: lightsalmon;
        }
    }

    .buttons{
        margin-top: auto;
    }
    

    }

    
   
}