
@if(isLoading){
    <p>Loading...</p>
}
@else{
<div class="detail">
    <div class="main-info">
    <div class="img-container">
        <img src="{{dog.photo}}" alt="{{dog.name}}">
    </div>
    <div class="info">            
            <h1 class="ellipsis-1" [ngClass]="{'male': dog.gender === 'male', 'female': dog.gender === 'female'}">{{dog.name}}</h1>            
            <p class="breed ellipsis-1" >{{dog.breed}}</p>            
        <div class="body-data" [ngClass]="{'male': dog.gender === 'male', 'female': dog.gender === 'female'}">
            <p>{{dog.age | age}}</p>
            <p>{{dog.height | height}}</p>
            <p>{{dog.weight | weight}}</p>
        </div>
    </div>
</div>
    @if(dog.about){
        <div class="about">
            <div class="divisor"></div>
            <p>{{dog.about}}</p>
        </div>
    }
        <div class="buttons">
            <button class="cancel" [routerLink]="['/dogs']">Back</button>
            <div class="actions">
                <button class="edit" (click)="goToEditForm()">Edit</button>
                <button class="delete" (click)="deleteDog(dog.id)">Delete</button>
            </div>
        </div>
</div>
}