
label span.required{
  color: var(--pure-danger-color);
}

label small{
  color: var(--pure-danger-color);
  font-size: var(--font-size-sm-1);
  font-weight: var(--font-weight-400);
}

label[for="name"] {
    grid-area: name;
  }

  label[for="age"] {
    grid-area: age;
  }
  label[for="gender"] {
    grid-area: gender;
  }
  label[for="breed"] {
    grid-area: breed;
  }
  label[for="height"] {
    grid-area: height;
  }
  label[for="weight"] {
    grid-area: weight;
  }

  label[for="photo"] {
    grid-area: photo;
  }

  label[for="about"] {
    
    grid-area: about;
    
  }


  .inputs{
    display: grid;
    grid-template:
    "name age gender" auto
    "breed height weight" auto
    "photo photo photo" auto
    "about about about" 6rem / 2fr 1fr 1fr; 
    gap: 0.5rem;
    margin-bottom: 1rem;

    @media (max-width: 576px) {
      & {
          grid-template:
            "name name" auto
            "age gender" auto
            "breed breed" auto
            "height weight" auto
            "photo photo" auto
            "about about" 6rem / 1fr 1fr; 
        }
    }

    @media (max-width: 360px) {
      & {
        grid-template:
          "name" auto
          "age" auto
          "gender" auto
          "breed" auto
          "height" auto
          "weight" auto
          "photo" auto
          "about" 6rem / 1fr;
      }
  }
  }

  .countChars{
    margin-left: auto;
    color: var(--dark-gray-color);
    font-weight: var(--font-weight-400);
    font-size: var(--font-size-sm-1);
  }