<h1>Creating new Dog</h1>

<form (ngSubmit)="onSubmit(formData)" #formData="ngForm">
    <div class="inputs">
    <label for="name">
        <div>
        Name<span class="required">*</span>
    </div>
        <input type="text" name="name" id="name" ngModel #name="ngModel" required>
        @if(name.touched && !name.valid){
            <div>
            <small>Name is required</small>
            </div>
        }
    </label>

    <label for="age">
        <div>
        Age<span class="required">*</span>
    </div>
        <input type="number" name="age" id="age" min="0" max="20" ngModel #age="ngModel" required>
        @if(age.touched && !age.valid){
            <div>
            <small>Age is required</small>
            </div>
        }
    </label>

    <label for="gender">
        <div>
        Gender<span class="required">*</span>
    </div>
        <select name="gender" id="gender" required #gender="ngModel" ngModel>
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select>
        @if(gender.touched && !gender.valid){
            <div>
            <small>Gender is required</small>
            </div>
        }
    </label>

    <label for="breed">
        <div>
        Breed<span class="required">*</span>
    </div>
        <input type="text" name="breed" id="breed" ngModel #breed="ngModel" required>
        @if(breed.touched && !breed.valid){
            <div>
            <small>Breed is required</small>
            </div>
        }
    </label>
    <label for="height">
        <div>
        Height<span class="required">*</span>
    </div>
        <input type="number" name="height" id="height" min="0.1" ngModel #height="ngModel" required>
        @if(height.touched  && !height.valid){
            <div>
            <small>Height is required</small>
            </div>
        }
    </label>
    <label for="weight">
        <div>
        Weight<span class="required">*</span>
    </div>
        <input type="number" name="weight" id="weight" min="0.1" ngModel #weight="ngModel" required>
        @if(weight.touched && !weight.valid){
            <div>
            <small>Weight is required</small>
            </div>
        }
    </label>

    <label for="photo">
        <div>
        Photo<span class="required">*</span>
    </div>
        <input type="text" name="photo" id="photo" ngModel #photo="ngModel" required>
        @if(formData.submitted || photo.touched  ){
            <div>
            @if(!photo.valid || photo.value===''){
            <small>Photo is required</small>
            }
            @else if(!validateUrl(photo.value)){
                <small>Invalid URL. It needs to end with .jpg or .png</small>
            }
            </div>
        }
    </label>

    <label for="about">
        About
        <textarea name="about" id="about" ngModel></textarea>
    </label>
</div>
    <div class="buttons">

        <button class="confirm" type="submit" [disabled]="!formData.valid || !validateUrl(photo.value)">Create Dog</button>
        <button class="cancel" type="button" [routerLink]="['/dogs']">Cancel</button>
    </div>
</form>