<div class="modal">
    
    <img src="{{dog.photo}}" alt="{{dog.name}}">

    <a routerLink="/dogs" class="close">X</a>
    <div class="info">
        <div>
        
            <h2 [ngStyle]="{'color': dog.gender === 'male' ? 'cornflowerblue' : 'lightcoral'}">{{dog.name}}</h2>
            
            <p class="breed">{{dog.breed}}</p>
        </div>
        <div class="body-data">
        <p>{{dog.height}}cm</p>
        <p>{{dog.weight}}kg</p>
        </div>

        <p>{{dog.about}}</p>
        
        <div class="buttons">
        <button class="edit" (click)="goToEditForm()">Edit</button>
        <button class="delete" (click)="deleteDog(dog.id)">Delete</button>
    
        </div>
    </div>
</div>