.card{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 20px;

    &.male{
        border: 2px solid var(--male-gender-color);
    }

    &.female{
        border: 2px solid var(--female-gender-color);
    }

    .info{
        padding: 1rem 1rem 0.5rem 1rem;
        
        .breed{
            color:var(--gray-color);
            font-style: italic;
        }
    }

    img{
        max-width: 100%;
        height: auto;
        border-radius: 0 0 20px 20px;
    }

    
}