<div class="ellipsis-2">
<h1 ellipsis-2>Editing {{dog?.name??''}}</h1>
</div>
@if(isLoading){
    <p>Loading...</p>
}
@else{
<form [formGroup]="editDogData" (ngSubmit)="onSubmit()">
    <div class="inputs">
    <label for="name">
        <div>
            Name<span class="required">*</span>
        </div>
        <input type="text" name="name" id="name" formControlName="name" maxlength="12">
        <div>
        @if( isFieldRequiredError("name")){
            <small>Name is required</small>
        }
    </div>
    </label>

    <label for="age">
        <div>
            Age<span class="required">*</span>
        </div>
        <input type="number" name="age" id="age" formControlName="age">
        <div>
        @if( isFieldRequiredError("age")){
            <small>Age is required</small>
        }@else if(isKeyRangeError("age")){
            <small>The age is between 0 and 20 years old</small>
        }
    </div>
    </label>

    <label for="gender">
        <div>
            Gender<span class="required">*</span>
        </div>
        <select name="gender" id="gender" formControlName="gender" >
            
            <option value="male" >Male</option>
            <option value="female" >Female</option>
        </select>

        <div>
        @if(isFieldRequiredError("gender")){
            <small>Gender is required</small>
        }
    </div>
    </label>

    <label for="breed">
        <div>
            Breed<span class="required">*</span>
        </div>
        <input type="text" name="breed" id="breed"  maxlength="31" formControlName="breed" >
        <div>
        @if(isFieldRequiredError("breed")){
            <small>Breed is required</small>
        }
    </div>
    </label>
    <label for="height">
        <div>
            Height<span class="required">*</span>
        </div>
        <input type="number" name="height" id="height" formControlName="height" >
        <div>
        @if(isFieldRequiredError("height")){
            <small>Height is required</small>
        }@else if(isKeyRangeError("height")){
            <small>The height is between 0.1 and 112 cm</small>
        }
    </div>
    </label>
    <label for="weight">
        <div>
            Weight<span class="required">*</span>
        </div>
        <input type="number" name="weight" id="weight" formControlName="weight" >
        <div>
        @if(isFieldRequiredError("weight")){
            <small>Weight is required</small>
        }@else if(isKeyRangeError("weight")){
            <small><small>The weight is between 0.1 and 156 kg</small></small>
        }
    </div>
    </label>

    <label for="photo">
        <div>
            Photo<span class="required">*</span>
        </div>
        <input type="text" name="photo" id="photo" formControlName="photo" >
        <div>
        @if( isFieldRequiredError("photo")){
                <small>Photo is required</small>
        }@else if(isPhotoInvalidUrl()){
            <small>Invalid URL. It needs to end with .jpg or .png</small>
        }
    </div>
    </label>

    <label for="about">
        About
        <textarea name="about" id="about"  maxLength="500" formControlName="about"></textarea>
        <span class="countChars">{{aboutLength}}/500</span>
    </label>
</div>
    <div class="buttons">
        <button class="cancel" type="button" [routerLink]="['/dogs']">Cancel</button>
    <button class="edit" type="submit" [disabled]="!editDogData.valid">Edit Dog</button>
</div>
</form>

}