<h1>Editing {{dog.name}}</h1>

<form action="">
    <div class="inputs">
    <label for="name">
        Name
        <input type="text" name="name" id="name" value="{{dog.name}}" required>
    </label>

    <label for="age">
        Age
        <input type="number" name="age" id="age" value="{{dog.age}}" required>
    </label>

    <label for="gender">
        Gender
        <select name="gender" id="gender">
            <option value="-------">-------</option>
            <option value="male" selected="{{dog.gender==='male'}}">Male</option>
            <option value="female" selected="{{dog.gender==='female'}}">Female</option>
        </select>
    </label>

    <label for="breed">
        Breed
        <input type="text" name="breed" id="breed" value="{{dog.breed}}" required>
    </label>
    <label for="height">
        Height
        <input type="number" name="height" id="height" value="{{dog.height}}" required>
    </label>
    <label for="weight">
        Weight
        <input type="number" name="weight" id="weight" value="{{dog.weight}}" required>
    </label>

    <label for="photo">
        Photo
        <input type="file" name="photo" id="photo" accept="image/png, image/jpeg">
    </label>

    <label for="about">
        About
        <textarea name="about" id="about" value="{{dog.about}}"></textarea>
    </label>
</div>
    <div class="buttons">
    <button class="edit" type="submit">Edit {{dog.name}}</button>
    <button class="cancel">Cancel</button>
</div>
</form>